<launch>
    <arg name="max_age" default="50"/>
    <arg name="max_occlusion" default="20"/>
    <arg name="moving_interval" default="5"/>
    <arg name="fps_distance" default="6"/>
    <arg name="max_transfer_dist" default="5"/>
    <arg name="max_car_transfer_dist" default="20"/>
    <arg name="num_candidate" default="10"/>
    <arg name="yolox_model" default="yolox_s"/>
    <arg name="yolox_conf" default="0.3"/>
    <arg name="yolox_nms" default="0.3"/>
    
    <node name="sot_node" pkg="hanwha_sot" type="hanwha_refactoring_code_v2_w_yolox.py" output="screen" >
        <!-- centerpoint  -->
        <param name="pt" value="$(find hanwha_sot)/scripts/pt/livox_model_2.pt"/>
        <!-- yolox  -->
        <param name="exp_file" value="$(find hanwha_sot)/scripts/YOLOX/exps/default/"/>
        <param name="yolox_model" value="$(arg yolox_model)"/>
        <param name="yolox_pt" value="$(find hanwha_sot)/scripts/YOLOX/YOLOX_outputs/"/>
        <param name="yolox_conf" value="$(arg yolox_conf)"/>
        <param name="yolox_nms" value="$(arg yolox_nms)"/>
        <!-- centerpoint tracker & sot  -->
        <param name="max_age" value="$(arg max_age)"/>
        <param name="max_occlusion" value="$(arg max_occlusion)"/>
        <param name="moving_interval" value="$(arg moving_interval)"/>
        <param name="fps_distance" value="$(arg fps_distance)"/>
        <param name="max_transfer_dist" value="$(arg max_transfer_dist)"/>
        <param name="max_car_transfer_dist" value="$(arg max_car_transfer_dist)"/>
        <param name="num_candidate" value="$(arg num_candidate)"/>

    </node>
    
    <node name="flip_pc_node" pkg="hanwha_sot" type="queue_pc.py" launch-prefix="bash -c 'sleep 10; $0 $@'" output="screen" />
    <node name="queue_tf" pkg="hanwha_sot" type="queue_tf.py" launch-prefix="bash -c 'sleep 10; $0 $@'" output="screen"  />
    <node name="flip_image_node" pkg="hanwha_sot" type="queue_img.py" launch-prefix="bash -c 'sleep 10; $0 $@'" output="screen"  />
    <!-- <node name="flip_pc_node" pkg="hanwha_sot" type="queue_pc.py" output="screen" />
    <node name="queue_tf" pkg="hanwha_sot" type="queue_tf.py" output="screen"  />
    <node name="flip_image_node" pkg="hanwha_sot" type="queue_img.py" output="screen"  /> -->
</launch>
